#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}
h1 {
  line-height: 2em;
  letter-spacing: 10px;
  word-spacing: 2em;
  text-align: center;
}
.title_desc {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 10px;
}
.principal{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.img_principal{ 
  width: 200px;
  mask-image: linear-gradient(black 90%, transparent);
  border-radius: 15px;

} 

.logo {
  height: 20px;
  margin: auto;
  display:block;
}

@media (width >= 1020px) {
  #root{
  margin: 0 auto; 
  padding: 2rem; 
  text-align: center;
  }
  .title_desc {
  font-size: 20px;
  }
  .principal {
    flex-direction: row;
    justify-content: space-around;
  }
  .img_principal {
    width: 450px;
  }
  .logo {
    position: absolute;
    left:20px;
    top: 20px;
  }

}


/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
